<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kypi.demoproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/kypi_demo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kypi_demo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".mvp.activities.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".mvp.activities.IReadDemoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mvp.activities.MainMenuActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>